[Desktop Entry]
Version=1.0
Type=Link
Name=Documentation
Comment=Documentation de la bibliotèca calandreta paulina
Icon=/home/calandreta/Bibli/docs/images/ico-documentation.png
URL=docs/index.html
